.table {
    border: 1px solid #dee2e6;
  }
  .table th, .table td {
    padding: 1rem;
    border-top: 1px solid #dee2e6;
  }
  .btn {
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #333;
    color: #fff;
  } */

  .btn-outline-black {
    background-color: #d40606;
  }
  .btn-outline-black:hover {
    background-color: #000;
    color: #da1313;
  }

  .quantity-container {
    display: flex;
    align-items: center;
  }
  .quantity-amount {
    width: 50px;
    text-align: center;
  }
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.remove-btn:hover {
 background-color: #D11E1E;
}

.cart-btn {
  background-color: #efd22f;
  color: #000;
 }

@media (max-width: 767.98px) {
  .table-responsive .table {
    display: block;
    width: 100%;
  }
  .table-responsive .table thead {
    display: none;
  }
  .table-responsive .table tbody, 
  .table-responsive .table tr, 
  .table-responsive .table td {
    display: block;
    width: 100%;
  }
  .table-responsive .table tr {
    margin-bottom: 1rem;
  }
  .table-responsive .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table-responsive .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1rem;
    font-weight: bold;
    text-align: left;
  }
}
